.game-wrapper-level02{
    position: absolute;
    text-align: center;
    height: calc(100vh - 10vh);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

img{
    padding: 0.25rem;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

